$colors_background_primary: #edf2f9;
$colors_fonts_primary: #3b3c3f;

$colors_background_secondary: #3b4047;
$colors_fonts_secondary: #f7faff;

$colors_fonts_tertiary: #b4b9ba;

$colors_error_primary: #e83a3a;